.button {
	border-radius: var(--radius-md);
	font-weight: bold;
	padding: 10px 10px;
	color: var(--color-base-light);
}

.button:hover {
	cursor: pointer;
}

.primary {
	border: 2px solid var(--color-primary-l2);
	background-color: var(--color-surface-l2);
	
	&:hover {
		background-color: var(--color-surface-l3);
	}
}

.secondary {
	border: 2px solid var(--color-secondary-l2);
	background-color: var(--color-surface-l2);

	&:hover {
		background-color: var(--color-surface-l3);
	}
}


.toolbar {

	&:hover {
		background-color: var(--color-surface-l3);
	}
}


