.nav {
	align-items: center;
	background-color: var(--color-surface-l2);
	color: var(--color-base-light);
	display: flex;
	font-size: 24px;
	height: 50px;
	padding: 2px var(--space-5);
	margin: 8px 8px;
	border-radius: 8px;
	justify-content: space-between;
}

.logo {
	cursor: pointer;
	text-decoration: none;
	color: var(--color-base-light);
}

.content {
	background-color: var(--color-surface-l1);
	flex-grow: 1;
	padding: var(--space-5);
}
