.nav {
	align-items: center;
	background-color: var(--color-surface-l2);
	color: var(--color-base-light);
	display: flex;
	font-size: 24px;
	height: 50px;
	padding-left: var(--space-5);
}

.content {
	background-color: var(--color-surface-l1);
	flex-grow: 1;
	padding: var(--space-5);
}
