/* reset styles */
/* inspired by https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
	box-sizing: border-box;
}

*:not(dialog) {
	margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root {
	isolation: isolate;
}

html,
body {
	background-color: var(--color-surface-l1);
	color: var(--color-base-light);
	height: 100%;
	font-family: var(--font-family-sans);
}

body {
	display: flex;
	flex-direction: column;
}

button {
	background: transparent;
	border: none;
}
